<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
{{user._id}}
    <p class="lead">Email: {{user.google.email}}{{user.fb.email}}</p>
    <p class="lead">First Name: {{user.google.firstName}}{{user.fb.firstName}}</p>
    <p class="lead">Last Name: {{user.google.lastName}}{{user.fb.lastName}}</p>

    <a href="/logout"><button class="btn btn-danger">Logout</button></a>

  </div>
</div>
